
* {
	padding:0;
	margin:0;
	box-sizing:border-box;

}

body {
	color: #474143;
	font-size: 16px;
	font-family: Helvetica, arial, sans-serif;
	background-color: #E2E2E2;
}

nav{ 
  	text-align: center;
  	padding: 1em;
  	margin-top:.5em;
  	background: #474143;
  	text-transform: bold;
}

nav a{
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	color: #E2E2E2;
  	margin: .5em;
  	padding: .5em;

}
span {
	color: white;
	font-size: 1.85em;
}
nav a:hover {
	color: #007e94;
	background-color: #474143;

}

header {
	text-align: left;
	
	margin:  3em 5em;
	clear:both;
}

h1 {
	font-size: 3.75em;
	padding-top: 1em;
	padding-bottom: 10px;
}

h2 {
	font-size: 2em;
	clear:both;
}

h3{ 
	padding: .625em 0;
	font-weight: normal;
}

h4 {
	font-size: 1.125em;
	padding: 1.2em 0;
}

p {
	line-height: 1.3em;
	font-family: 'Source Sans Pro', sans-serif;
}

ul {
	font-family: 'Source Sans Pro', sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}



footer {
	background-color: gray;
  	padding: 1em 4.5em;
}

footer a {
	text-decoration: none;
	color: #474143;
	padding: .5em;
}

footer a:hover {
	color: black;
}

footer p {
	float:right;
}

#intro {
	background-image: url(../images/bluebrick.png);
	background-size: cover;
}


.intro_text {
	margin: 0 4em;
} 

.laptop {
	height: 30%;
	width: 30%;
	position: relative;
	float: right;
	padding-top: 7em;
	padding-right:1em;
	opacity: .85;
}

.coffee {
	height: 10%;
	width: 10%;
	position: relative;
	margin-top: 8em;
	margin-right: 5em;
	float: left;
	opacity: .85;
}

.tablet {
	height: 14%;
	width: 14%;
	margin-left: 11em;
	margin-top: 1.5em;
	opacity: .9;

}

.arrow {
	display:block;
	margin: auto;
	height: 7.5%;
	width: 7.5%;
}
#experience {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding-bottom: 3.5em;
}

.experience {
	border: 1px solid gray;
	margin: .25em;
	padding: .75em;
	display: block;
	
}	

#skills {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color:white;
	padding-bottom: 3.5em;
}

.skills {
	padding: 1em;
	margin-right: 2em;
	border: .5px black solid;

}



#portfolio {
	margin: 5em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.portfolioexample {
	width: 48%;
	padding: 2%;
	margin: .25em;
	float: left;
	border: .5px black solid;
	font-size: 1em;


}

.img1 {
    float: left;
    padding: .25em;
    border: .5px black solid;
}
 
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear:both;
  height: 0;
}

#about {
	padding: 0em;
	display: inline-block;
}

#about_columns {
	margin: 0 5em;
	padding: 0em;
}


#contact {
	margin: 3em;
	border: 1px black solid;
}

#resume{
	margin:4.5em;
	padding: .75em 0;
	background-color: white;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " "
	clear: both;
	height: 0;
}

@media only screen and (min-width: 1800px) {
	body {
		font-size: 20px;
	}
}
@media only screen and (max-width: 890px){
header {
	margin: 1em;
}
#intro, #experience, #skills, #portfolio, #about, #contact, #resume {
	margin:.5em;
}

.laptop, .tablet, .coffee {
		display: none;
}

.intro_text {
	margin: .5em;
}
}

@media only screen and (max-width: 652px) {

	nav a {
		float: none;
		width: auto;
	}
}


