
* {
	padding:0;
	margin:0;
	box-sizing:border-box;

}

body {
	color: #474143;
	font-size: 16px;
	font-family: Helvetica, arial, sans-serif;
	background-color: #E2E2E2;
}

nav{ 
  text-align: center;
  padding: 1em;
  margin-top:.5em;
  background: #474143;
}

nav a{
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	color: #E2E2E2;
  	margin: .5em;
  	padding: .5em;

}
span {
	color: white;
	font-size: 1.85em;
}
nav a:hover {
	color: #007e94;
	background-color: #474143;

}

header {
	text-align: left;
	margin: 0 4.5em;
	padding-top: 1em;
	clear:both;
}

h1 {
	font-size: 3.75em;
	padding-top: 1em;
	padding-bottom: 10px;
}

h2 {
	font-size: 2em;
	clear:both;
}

h3{ 
	padding: .625em 0;
}

h4 {
	font-size: 1.125em;
	padding: 20px 0;
}

p {
	line-height: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
}

ul {
	font-family: 'Source Sans Pro', sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}



footer {
	background-color: gray;
  	padding: 1em 4.5em;
}

footer a {
	text-decoration: none;
	color: #474143;
	padding: .5em;
}

footer a:hover {
	color: black;
}

footer p {
	float:right;
}

#intro {
	background-image: url(../images/bluebrick.png);
	background-size: cover;
}


.intro_text {
	margin: 0 4em;
} 

.laptop {
	height: 30%;
	width: 30%;
	position: relative;
	float: right;
	padding-top: 7em;
	padding-right:1em;
	opacity: .85;
}

.coffee {
	height: 10%;
	width: 10%;
	position: relative;
	margin-top: 8em;
	margin-right: 5em;
	float: left;
	opacity: .85;
}

.tablet {
	height: 14%;
	width: 14%;
	margin-left: 11em;
	margin-top: 1.5em;
	opacity: .9;

}

.arrow {
	display:block;
	margin: auto;
	height: 7.5%;
	width: 7.5%;
}
#experience {
	margin: 4.5em;
	display: flex;
	flex-flow: row wrap;
	justify-content: right;
}

.experience {
	border: 1px solid gray;
	margin: .25em;
	padding: 1em;
	
}	

#skills {
	display: flex;
	border: 1px solid gray;
	flex-flow: row wrap;
	justify-content: center;
	margin: 4.5em;
}

.skills {
	flex: 1;
	padding: 0 1em;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
} 



#portfolio {
	margin: 4.5em;
}

.portfolioexample {
	width: 48%;
	padding: 2%;
	margin: .5em;
	float: left;
	border: .5px black solid;
	font-size: 1em;
}

.img1 {
    float: left;
    padding: .25cm;
    border: .5px black solid;
}
 
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear:both;
  height: 0;
}

#about {
	margin: 4.5em;
	padding: 0em;
	display: inline-block;
}

.about_columns {
	margin: 3em;
	padding: 0em;
	display: inline-block;
}

#left {
    border: 1px black solid;
    padding: 10px;
    float: left;
    width: 55%;
    margin-left: 4.5em;
}

#right {
    border: 1px black solid;
    padding: 10px;
    float: right;   
    width: 35%;
    margin-right: 4.5em;
}


#contact {
	margin: 3em;
	border: 1px black solid;
}

#resume{
	margin:4.5em;
	padding: .75em 0;
	background-color: white;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " "
	clear: both;
	height: 0;
}


