
@import url('https://fonts.googleapis.com/css?family=Hind:300');

* {
	padding:0;
	margin:0;
	box-sizing:border-box;


}

body {
	color: #474143;
	font-size: 16px;
	font-family: Helvetica, arial, sans-serif;
	background-color: #E2E2E2;
}

h1 {
	font-size: 1.75em;
	line-height: 2em;
	font-weight: bold;
	font: 'Hind', sans-serif;
}

h2 {
	font-size: 1.5em;
	line-height: 1em;
	font-weight: bold;
		-webkit-margin-after: 0.25em;
}

h3{
	font-size:1em;
	line-height: 1.75em;
	font-weight: bold;
}

h4 {
	font-size: 1em;
	margin-left: .5em;
	font-weight: normal;
	line-height: 1.3em
}
h5 {
	margin-left: 1.5em;
	font-weight: normal;
}

p {
	margin-left: .5em;
	line-height: 1.5em;
}

li {
	margin-left: 1em;
	line-height: 1.1em;
	font-size: .9em;
	-webkit-margin-after: 0.5em;
}

hr {
   border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    	-webkit-margin-after: 0.5em;
}




#wrapper{
	margin: 4em;
	background-color: white;
	display: inline-block;
	
}

#leftside {
	float: left;
	width: 33%;
	background-color: white;
	display: block;
	margin:auto;
	padding: 1.8em 1em 2em 2em;

}

#rightside{
	float: right;
	width: 65%;
	background-color: white;
	display: block;
	padding: 1.8em 2em 2em 1em;
}

.name {
	background: black;
	color: white;
	padding-left: 2em;

}
.resumeinfo{
	margin-bottom: 1em;
	line-height: 1.2em;
}


.resumeeducation{
	margin-bottom: 1em;
}

.resumeskills {
	margin-bottom: 1em;
}

.experience {
}


.company {
	background-color: rgba(160,160,160, 0.1);
	line-height: 1.5em;
	padding-left: 2px;
}

.title_date {
	display: inline-block;
	width: 100%;
	line-height: 1.5em;
}

.left {
	float: left;
	
}

.right {
	float: right;
	text-align: right;
	
}

clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear:both;
  height: 0;
}