

* {
	padding:0;
	margin:0;
	box-sizing:border-box;

}


body {
	color: #474143;
	font-size: 16px;
	font-family: Helvetica, arial, sans-serif;
	background-color: #E2E2E2;
	border: 1px black solid;
}

nav{ 
  text-align: center;
  padding-top: .5em;
  background-color: #E8C66A;
  border: 1px black solid;
}

nav a{
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #474143;
  	margin: 0 .5em;
  	padding: .5em;

}

nav a:hover {
	color: black;

}

header {
	text-align: left;
	background-color: #FFED74;
	margin: 0 3em;
	padding-top: 1em;
	border: 1px black solid;
}

h1 {
	font-size: 3.75em;
	padding-top: 250px;
	padding-bottom: 10px;
}

h2 {
	font-size: 2em;
}

h3{ 
	padding: .625em 0;
}

h4 {
	font-size: 1.125em;
	padding: 20px 0;
}

p {
	line-height: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
}

ul {
	font-family: 'Source Sans Pro', sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}



footer {
	background-color: #FF957E;
  	padding: 1em 3em;
}

footer a {
	text-decoration: none;
	color: #474143;
	padding: .5em;
}

footer a:hover {
	color: black;
}

footer p {
	float:right;
}

#intro {
	background: #FFE2B8;
	background-size: cover;
	margin: 3em;
	border: 1px black solid;
}


#experience {
	margin: 3em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #FFE2B8;
	border: 1px black solid;
}

.experience {
	flex: 1;
	border: 1px solid gray;
	margin: .25em;
	padding: 1em;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}	



#skills {
	display: flex;
	border: 1px solid gray;
	flex-flow: row wrap;
	justify-content: center;
	margin: 3em;
	background-color: #FFE2B8;
	border: 1px black solid;
}

.skills {
	flex: 1;
	padding: 0 1em;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
} 



#portfolio {
	margin: 3em;
	background-color: #FFE2B8;
	border: 1px black solid;
}

#about {
	margin: 3em;
	background-color: #FFE2B8;
	padding: 0em;
	display: inline-block;
	border: 1px black solid;
}

.about1 {
	float:left;
	width: 60%;
  	border: 1px black solid;
}

.about2 {
	float:left;
	width: 60%;
	border: 1px black solid;
}

.about3 {
	float:right;
	width: 40%;
	border: 1px black solid;
}

.about4 {
	float:right;
	width: 40%;
	border: 1px black solid;
}

.about5 {
	float:right;
	width: 40%;
	border: 1px black solid;
}

#contact {
	margin: 3em;
	background-color: #FFE2B8;
	border: 1px black solid;
}

#resume{
	margin:3em;
	padding: .75em 0;
	background-color: #FFE2B8;
	border: 1px black solid;
}

.right{
	float:right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " "
	clear: both;
	height: 0;
}

