body {
	text-align: center;
	background: url(../images/background1.jpg);
	background-size: cover;
	color: #474143;
	font-family: Helvetica;
}

p {
	font-size: 18px;
}

hr {
	200px;
}

hr {
	text-align: center;
}