* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body {
	color: #474143;
	font-family: Helvetica, arial, sans-serif;
	font-size: 20px;
}
#intro {
	background: url(../images/background3.jpg);
	background-size: cover;
	padding: 2em;
}

h1 {
	font-size: 60px;
	padding-top: 250px;
	padding-bottom: 10px;
}

h2 {
	font-size: 30px;
}

h3{ 
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 20px;
}

p {
	font-size: 18px;
	padding: 20px 0;
}


#buttons a {
  list-style: none;
  text-align: center;
  text-decoration: none;
  color:#474143;
  background-color: #9E9A97;
  color: #474143;
  display: inline-block;
  padding: .5em;
  margin-right: .5em;
}




	
